<% include ../partials/header %>
  <main>
    <div class="header-img valign-wrapper">
      <div class="container ">
        <div class="row ">
          <h1 class="center white-text">Photo Gallery</h1>
          <p class="center white-text lead">By Holly McInally</p>
        </div>
      </div>
    </div>
    <div class="section valign-wrapper vheight">
      <div class="container">
        <h2 class="center">Please login to continue</h2>
        <div class="row">
          <form action="/users/login" method="POST" class="col s12">
            <div class="row">
              <div class="input-field col l6 m12 s12">
                <input id="email" type="email" name="email" class="validate">
                <label for="email">Email</label>
              </div>
              <div class="input-field col l6 m12 s12">
                <input id="password" type="password" name="password" class="validate">
                <label for="password">Password</label>
              </div>
            </div>
            <div class="row center">
              <button type="submit" class="btn waves-effect waves-light green z-depth-2">Login</button>
              <a href="/users/forgot-pw" class="btn waves-effect waves-light red z-depth-2">Forgot Password</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
<% include ../partials/footer %>