<% include ../partials/header %>
  <main>
    <div class="header-img valign-wrapper">
      <div class="container ">
        <div class="row ">
          <h1 class="center white-text">Photo Gallery</h1>
          <p class="center white-text lead">Register for an account</p>
        </div>
      </div>
    </div>
    <div class="section valign-wrapper vheight">
      <div class="container">
        <h2 class="center">Register for an account</h2>
        <div class="row">
          <form action="/users/register" method="POST" class="col s12" enctype="multipart/form-data">
            <div class="row">
              <div class="input-field col m6 s12">
                <input id="name" type="text" name="name" class="validate">
                <label for="name">Name</label>
              </div>
              <div class="input-field col m6 s12">
                <input id="username" type="text" name="username" class="validate">
                <label for="username">Username</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col m6 s12">
                <input id="email" type="email" name="email" class="validate">
                <label for="email">Email</label>
              </div>
              <div class="file-field input-field col m6 s12">
                <div class="btn">
                  <span>Add Image</span>
                  <input type="file" name="image">
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text" name="image-text" placeholder="Upload a profile image">
                </div>
              </div>
              
            </div>
            <div class="row">
              <div class="input-field col m6 s12">
                <input id="password" type="password" name="password" class="validate">
                <label for="password">Password</label>
              </div>
              <div class="input-field col m6 s12">
                <input id="password2" type="password" name="password2" class="validate">
                <label for="password2">Confirm Password</label>
              </div>
            </div>
            <div class="row center">
              <button type="submit" class="btn waves-effect waves-light green z-depth-2">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
<% include ../partials/footer %>