  </main>
  <footer class="page-footer teal lighten-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Holly McInally</h5>
          <p class="grey-text text-lighten-4">Follow me on my social networks.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Social</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!"><i class="fab fa-facebook-f"></i> Facebook</a></li>
            <li><a class="grey-text text-lighten-3" href="#!"><i class="fab fa-twitter"></i> Twitter</a></li>
            <li><a class="grey-text text-lighten-3" href="#!"><i class="fab fa-instagram"></i> Instagram</a></li>
            <li><a class="grey-text text-lighten-3" href="#!"><i class="fab fa-linkedin-in"></i> Linkedin</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container center">
        &copy; 2019 - <span id="year"></span> HollyMcinally
      </div>
    </div>
  </footer>
  <% include messages %>
  <script src="/javascripts/materialize.min.js"></script>
  <script src="/javascripts/typed.min.js"></script>
  <script src="/javascripts/main.js"></script>
  </body>
</html>