<% include partials/header %>
  <% include partials/loader %>
  <div class="header-img valign-wrapper">
    <div class="container ">
      <div class="row ">
        <h1 class="center white-text"><span id="typed"></span></h1>
        <p class="center white-text lead">By Holly McInally</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <h2 class="center">Here are some photos!</h2>
    </div>
    <div class="row">
      <div class="col s12 m6">
        <img class="module" src="/images/header1.jpg" alt="">
      </div>
      <div class="col s12 m6">
        <img class="module" src="/images/header1.jpg" alt="">
      </div>
      <div class="col s12 m6">
        <img class="module" src="/images/header1.jpg" alt="">
      </div>
      <div class="col s12 m6">
        <img class="module" src="/images/header1.jpg" alt="">
      </div>
      <div class="col s12 m6">
        <img class="module" src="/images/header1.jpg" alt="">
      </div>
      <div class="col s12 m6">
        <img class="module" src="/images/header1.jpg" alt="">
      </div>
    </div>
  </div>
<% include partials/footer %>
  
